################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web-project-online-library/FileContentIndex
/.vs/web-project-online-library/v17
/.vs
